:root {
  --font-size-small: 1.2rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2.5rem;
  --font-size-xl: 3rem;

  --clr-primary-accent: #12d6d6;
  --clr-background-main: #121212;
  --clr-background-element: #2a2a2a;
  --clr-text-main: #ffffff;
  --clr-state-win: #ffd700;
  --clr-text-secondary: #aaaaaa;

  --border-main: 1px solid var(--clr-text-main);
  --border-accent: 1px solid var(--clr-primary-accent);
  --border-radius-main: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: var(--clr-background-main);
  color: var(--clr-text-main);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  .container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .title {
      font-size: var(--font-size-large);
      text-align: center;
      color: var(--clr-text-main);
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 700;
    }

    .btn-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 12rem);
      grid-template-rows: 1fr;
      justify-content: center;
      gap: 1.2rem;

      .btn {
        max-width: 200px;
        padding: 0.3rem 2.5rem;
        font-size: var(--font-size-xl);
        background-color: var(--clr-background-element);
        border: var(--border-main);
        border-radius: var(--border-radius-main);
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          background-color: var(--clr-text-secondary);
          color: var(--clr-background-main);
        }
      }
    }

    .reset-btn {
      margin-top: 1rem;
      padding: 0.6rem 5rem;
      font-size: var(--font-size-small);
      color: var(--clr-background-element);
      background-color: var(--clr-primary-accent);
      border: var(--border-accent);
      border-radius: var(--border-radius-main);
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        color: black;
        background-color: var(--clr-text-main);
      }
    }

    .see-score {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .see-score__p {
        font-size: var(--font-size-medium);
        color: white;
      }
    }
  }
}
